
<script crossorigin="anonymous" src="https://kit.fontawesome.com/70a642cd7c.js"></script>
<footer class="footer" style="text-align:center;position:absolute;bottom:0px;padding: 2px;background-color:Aquamarine ;color: black; width: 1250px;border-radius: 40px ">
  <p>Owner: Brian hertz<br>
  <a href="mailto:Brian@hertz.com">Brian@hertz.com</a></p>
  <div>
   <a href="#">About Us </a>|
   <a href="#">Term & Conditions </a>|
   <a href="#">Raise Query </a>|
   <a href="#">Careers</a>
   <div class="social" style="margin-left: 900px;position: absolute;top:0px">
       <p>Follow Us</p>
       <a href="https://www.facebook.com/flipkart/" target="_blank"><i class="fab fa-facebook-f"></i></a>
       <a href="https://twitter.com/Flipkart?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor" target="_blank"><i class="fab fa-twitter"></i></a>
       <a href="https://www.instagram.com/flipkart/?hl=en" target="_blank"><i class="fab fa-instagram"></i></a>
       <a href="https://freekaamaal.com/flipkart/flipkart-youtube-premium-offer" target="_blank"><i class="fab fa-youtube"></i></a>
                            
   </div>
  </div>
</footer>